@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: "forn sans-serif" !important, "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  /* background-color: #3092DB; */
}
