@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: "forn sans-serif" !important, "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  /* background-color: #3092DB; */
}


@-webkit-keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}

#zio {

  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out; 
  -moz-animation: bounce 3s infinite ease-in-out; 
  animation: bounce 3s infinite ease-in-out;
}